@use 'sass:map';

$colorPrimary: #262249;
$colorPrimaryAccent: #E94800;
$colorSecondary: #385590;
$colorSecondaryAccent: #E97816;
$colorTertiary: #DDE7FD;

$colorSuccess: #00A668;
$colorInfo: #00BCFF;
$colorError: #DC0000;
$colorDanger: $colorError;

$backgroundColorLightMode: #EEEEEE;
$backgroundColorDarkMode: #222222;

$textColorLightMode: #111111;
$textColorDarkMode: #EEEEEE;

$breakpoints: (
  "sm": 35em,
  "md": 48em,
  "lg": 64em,
  "xl": 80em,
);

@mixin sm {
  @media screen and (min-width: map.get($breakpoints, "sm")) { @content; }
}

@mixin smAndBelow {
  @media screen and (max-width: map.get($breakpoints, "md") - 0.1em) { @content; }
}

@mixin md {
  @media screen and (min-width: map.get($breakpoints, "md")) { @content; }
}

@mixin lg {
  @media screen and (min-width: map.get($breakpoints, "lg")) { @content; }
}

@mixin xl {
  @media screen and (min-width: map.get($breakpoints, "xl")) { @content; }
}
